# Backend Server Configuration
PORT=5000
ALLOWED_ORIGIN=*

# MongoDB Connection URI (Compass / Local or Atlas Cluster)
MONGODB_URI=mongodb://localhost:27017/suchit_portfolio

# Nodemailer Automated Email Dispatch (Gmail SMTP)
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_gmail_app_password
